
<body>
    <h1>Hello This is the ejs template.</h1>
    <h1>Hello This is the ejs template.</h1>
    <h1>Hello This is the ejs template.</h1>
    <h1>Hello This is the ejs template.</h1>
    <h1>Hello This is the ejs template.</h1>
</body>
