<% layout('/layouts/boilerplate') %>
<body>
    <h3 class="text-center  my-5">Create New Listing</h3>
    <div class="row m-3">
        <div class="col-8 offset-2">
            <form enctype="multipart/form-data" method="POST" action="/listings"  class="needs-validation" novalidate  >

                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input id="title" required class="form-control"  name="listing[title]" placeholder="Enter your title" type="text">
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea   id="description" required class="form-control" name="listing[description]" placeholder="Enter your description" type="text"></textarea>
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="image">Image Link</label>
                    <input id="image" name="listing[image]" class="form-control" placeholder="Enter your image url" type="url"></input>
                
                </div>
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label class="form-label" for="price">Price</label>
                        <input id="price" required class="form-control" name="listing[price]" placeholder="Enter your price" type="text">
                        <div class="invalid-feedback">
                            You must inter valid price.
                          </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label class="form-label" for="location">Location</label>
                        <input id="location"  required class="form-control" name="listing[location]" placeholder="Enter your location" type="text">
                        <div class="valid-feedback">
                            Looks good!
                          </div>
                    </div>
                </div>
                
                
                <div class="mb-3">
                    <label class="form-label" for="country">Country</label>
                    <input id="country" required class="form-control" name="listing[country]" placeholder="Enter your Country" type="text">
                    <div class="valid-feedback">
                        Looks good!
                      </div>
                </div>
        
        
                
                
                
                
                
        
        
                <button class="btn btn-success px-5">Submit</button>
        
        
        
        
        
        
            </form>
        </div>
    </div>


    
    
</body>
