h4{
    text-align: center;
}
h5{
    background-color: blue;
    color: white;
}
h6{
    font-size: 50px;
    margin: 40px;
    padding: 30px;
    background-color: aqua;
}

.heading1{
    background-color: green;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    text-align: center;
}
p{
    text-align: justify;
}