<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h1>New Chats</h1>
    <form action="/chats" method="POST">
        <input type="text" name="from" placeholder="Who are you!"><br><br>
        <textarea name="msg" cols="30" rows="10">Write your message here!</textarea><br><br>
        <input type="text" name="to" placeholder="add receiver!"><br><br>
        <button>Create Chat</button>
    </form>
</body>
</html>