.flex-container{
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    
    
}
.flex-item{
    background-color: aqua;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    margin: auto;
    
}